<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1556401615-c909c3d67480?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="logo">
    <%= render 'shared/illuminate' %>
  </div>
  <div id="intro">
    <p>How many coders does it take to change a lightbulb?</p>
    <p><%= link_to "Upload Photo", lightbulbs_search_path, class: "btn btn-lg btn-ghost mt-5 mr-2" %></p>
  </div>
</div>

<div class="row m-2">
  <div class="col-12 col-md-8">
    <div id="small-card" class="row m-2">
      <div class="card-product lax lax_preset_fadeInOut:197.75:0 home-card">
        <%= image_tag "home_lb1.jpg", alt: "lightbulb_1" %>
        <div class="card-product-infos">
          <h2>Need a new lightbulb?</h2>
          <p>We've got a <strong>bright idea</strong> to help you find a replacement.</p>
        </div>
      </div>
      <div class="card-product lax lax_preset_fadeInOut:197.75:0 lax_preset_hueRotate:791:360 home-card">
        <div class="card-product-infos">
          <h2>Upload your bulb</h2>
          <p>Come <strong>out of the dark</strong> and let us show you which bulb you need.</p>
        </div>
        <%= image_tag "home_lb2.jpg", alt: "lightbulb_2" %>
      </div>

      <div class="card-product lax lax_preset_fadeInOut:197.75:0 lax_preset_hueRotate:791:360 home-card">
        <%= image_tag "home_lb3.jpg", alt: "lightbulb_3" %>
        <div class="card-product-infos">
          <h2>Light up your life</h2>
          <p>Find out where you can order your bulb nearby, or online!</p>
        </div>
      </div>
    </div>

    <div class="card-product lax lax_preset_fadeInOut:197.75:0 lax_preset_hueRotate:791:360 home-card">
        <div class="card-product-infos">
          <h2>No photo?</h2>
          <p>Hit "get started" and try our finder tool</p>
        </div>
        <%= image_tag "home_lb3.jpg", alt: "lightbulb_3" %>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 mt-3">
    <div id="big-card" class="card-category w-100" style="background-image: url(<%= asset_path ('/assets/home_bulbs.jpg') %>)">
      <p><%= link_to "Get started", lightbulbs_path, class: "btn get-started btn-lg mt-3" %></p>
    </div>
  </div>
</div>


<div class="footer footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
</div>

