<%= form_tag lightbulbs_path, remote: true, method: 'GET' do |f| %>
 <div class="container index-container mt-5 ">
  <div class="row justify-content-center my-3 ml-2">
    <div class="col-sm-12">
      <%= hidden_field_tag :brightness %>
      <div class="form create-form" >
        <h5><center>What does your bulb look like?</center></h5>
        <label>
          <%= radio_button_tag :bulb_type, 'Incandescent'%>
          <%= image_tag("incandescent.jpg", width: "140")  %>
          <p><center>GLS</center></p>
        </label>
        <label>
          <%= radio_button_tag :bulb_type, 'CFL' %>
          <%= image_tag("cfl.jpg", width: "140")%>
          <p><center>CFL</center></p>
        </label>
       </div>
    </div>
  </div>
  <div class="row justify-content-center my-3 ml-2">
    <div class="col-sm-12">
      <label>
        <%= radio_button_tag :bulb_type, 'LED' %>
        <%= image_tag("led.jpg", width: "140") %>
        <p><center>LED</center></p>
      </label>
      <label>
        <%= radio_button_tag :bulb_type, 'Halogen' %>
        <%= image_tag("halogen.jpg", width: "140") %>
        <p><center>Halogen</center></p>
      </label>
    </div>
  </div>
<div class="row justify-content-center my-3 ml-1">
  <div class="col-sm-12 col-lg-6">
    <div class="form create-form" >
      <h5><center>And what about the fitting?</center></h5>
      <label>
        <%= radio_button_tag :fitting, 'Screw' %>
        <%= image_tag("screw.jpg", width: "120") %>
        <p><center>Screw</center></p>
      </label>
      <label>
        <%= radio_button_tag :fitting, 'Bayonet' %>
        <%= image_tag("bayonet.jpg", width: "120")  %>
        <p><center>Bayonet</center></p>
      </label>
      <label>
        <%= radio_button_tag :fitting, 'Other' %>
        <%= image_tag("other.jpg", width: "120") %>
        <p><center>Other</center></p>
      </label>
      <div class="slidecontainer text-center ml-3 mr-3 mb-5 mt-3">
        <h5 class="mb-5">How bright would you like it?</h5>
        <div id="slider-step-value"></div>
        <div id="slider"></div>
        <div id="pips-range"></div>
      </div>

      <div id="slider-step-value">
      </div>

      <center><%= submit_tag value="Find my bulb!", id: "submitBtn", anchor: "results", class: "btn btn-lg btn-primary" %></center>
    </div>
    <% end %>
  </div>
</div>
<a href="#results" class="hidden" data-params="<%=@queried%>" id="query-link" ></a>
<br>

<h5 id="title"><center>This is what you need...</center></h5>
<div id='index-lightbulbs'>
  <%= render 'lightbulbs', lightbulbs: @lightbulbs %>
</div>
