<div class="modal fade gls-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-5">
      <h5>
        "An<mark>incandescent</mark> light bulb, incandescent lamp or incandescent light globe is an electric light with a wire filament heated until it glows. The filament is enclosed in a glass bulb with a vacuum or inert gas to protect the filament from oxidation."
      </h5>
    </div>
  </div>
</div>

<div class="modal fade cfl-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-5">
      <h5>
        "A <mark>compact fluorescent lamp (CFL)</mark>, also called compact fluorescent light, energy-saving light and compact fluorescent tube, is a fluorescent lamp designed to replace an incandescent light bulb; some types fit into light fixtures designed for incandescent bulbs."
      </h5>
    </div>
  </div>
</div>

<div class="modal fade led-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-5">
      <h5>
        "An <mark>LED lamp or LED light bulb</mark> is an electric light for use in light fixtures that produces light using one or more light-emitting diodes (LEDs). LED lamps have a lifespan many times longer than equivalent incandescent lamps."
      </h5>
    </div>
  </div>
</div>

<div class="modal fade halogen-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-5">
      <h5>
        "A <mark>halogen lamp, also known as a tungsten halogen, quartz-halogen or quartz iodine lamp</mark>, is an incandescent lamp consisting of a tungsten filament sealed into a compact transparent envelope that is filled with a mixture of an inert gas and a small amount of a halogen such as iodine or bromine."
      </h5>
    </div>
  </div>
</div>


<%= form_tag lightbulbs_path, remote: true, method: 'GET' do |f| %>
 <div class="container index-container mt-5 ">
  <h3 class="p-3 text-center border-bottom border-primary">Tell us what you're looking for...</h3>
  <div class="row justify-content-center my-3 ml-2">
    <div class="col-sm-12">
      <%= hidden_field_tag :brightness %>
      <div class="form create-form" >
        <h5><center>What does your bulb look like?</center></h5>
        <label>
          <%= radio_button_tag :bulb_type, 'Incandescent'%>
          <%= image_tag("incandescent.jpg", width: "140")  %>
          <p><center>GLS</center></p>
          <button type="button" class="btn btn-help" data-toggle="modal" data-target=".gls-modal"><i class="fas fa-info-circle info"></i></button>
        </label>
        <label>
          <%= radio_button_tag :bulb_type, 'CFL' %>
          <%= image_tag("cfl.jpg", width: "140")%>
          <p><center>CFL</center></p>
          <button type="button" class="btn btn-help" data-toggle="modal" data-target=".cfl-modal"><i class="fas fa-info-circle info"></i></button>
        </label>
       </div>
    </div>
  </div>
  <div class="row justify-content-center my-3 ml-2">
    <div class="col-sm-12">
      <label>
        <%= radio_button_tag :bulb_type, 'LED' %>
        <%= image_tag("led.jpg", width: "140") %>
        <p><center>LED</center></p>
        <button type="button" class="btn btn-help" data-toggle="modal" data-target=".led-modal"><i class="fas fa-info-circle info"></i></button>
      </label>
      <label>
        <%= radio_button_tag :bulb_type, 'Halogen' %>
        <%= image_tag("halogen.jpg", width: "140") %>
        <p><center>Halogen</center></p>
        <button type="button" class="btn btn-help" data-toggle="modal" data-target=".halogen-modal"><i class="fas fa-info-circle info"></i></button>
      </label>
    </div>
  </div>
<div class="row justify-content-center my-3 ml-1">
  <div class="col-sm-12 col-lg-6">
    <div class="form create-form" >
      <h5><center>And what about the fitting?</center></h5>
      <label>
        <%= radio_button_tag :fitting, 'Screw' %>
        <%= image_tag("screw.jpg", width: "120") %>
        <p><center>Screw</center></p>
      </label>
      <label>
        <%= radio_button_tag :fitting, 'Bayonet' %>
        <%= image_tag("bayonet.jpg", width: "120")  %>
        <p><center>Bayonet</center></p>
      </label>
      <label>
        <%= radio_button_tag :fitting, 'Other' %>
        <%= image_tag("other.jpg", width: "120") %>
        <p><center>Other</center></p>
      </label>
      <div class="slidecontainer text-center ml-3 mr-3 mb-5 mt-3">
        <h5 class="mb-5">How bright would you like it?</h5>
        <div id="slider-step-value"></div>
        <div id="slider"></div>
        <div id="pips-range"></div>
      </div>

      <div id="slider-step-value">
      </div>

      <center><%= submit_tag value="Find my bulb!", id: "submitBtn", anchor: "results", class: "btn btn-lg btn-primary" %></center>
    </div>
    <% end %>
  </div>
</div>
<a href="#results" class="hidden" data-params="<%=@queried%>" id="query-link" ></a>
<br>

<div id='index-lightbulbs'>
  <%= render 'lightbulbs', lightbulbs: @lightbulbs %>
</div>
