<div class="modal fade gls-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-5">
      <h6>
        "The<mark>GLS (General Lamp Service)</mark> is a traditional type of light bulb that has the classic, pear-like shape. It's versatility means it is still one of the most popular types of light bulb available today."
      </h6>
    </div>
  </div>
</div>

<div class="modal fade cfl-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-5">
      <h6>
        "<mark>CFL's (Compact Fluorescent Lamps)</mark>, are the most efficient and are usually formed in spiral or traditional shapes. The bulbs last much longer than traditional GLS, and they use less electricity too.
    </div>
  </div>
</div>

<div class="modal fade led-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-5">
      <h6>
        "An <mark>LED lamp</mark> is an electric light for use in light fixtures that produce light using light-emitting diodes (LEDs). LED lamps have a lifespan many times longer than equivalent GLS lamps."
      </h6>
    </div>
  </div>
</div>

<div class="modal fade halogen-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-5">
      <h6>
        "<mark>Halogen</mark>bulbs are more efficient than GLS bulbs - providing 25% more light using the same amount of electricity. However, they emit a whiter light, so they're better suited for offices, kitchens, or lamps with warm-colored shades."
      </h6>
    </div>
  </div>
</div>


<%= form_tag lightbulbs_path, remote: true, method: 'GET' do |f| %>
 <div class="container index-container mt-5 ">
  <h3 class="p-3 text-center border-bottom border-primary">Tell us more about the bulb you're looking for...</h3>
  <div class="row justify-content-center my-3 ml-2">
    <div class="col-sm-12">
      <%= hidden_field_tag :brightness %>
      <div class="form create-form" >
        <h5><center>What does your bulb look like?</center></h5>
        <label>
          <%= radio_button_tag :bulb_type, 'Incandescent'%>
          <%= image_tag("incandescent.jpg", width: "140")  %>
          <p><center>GLS</center></p>
          <button type="button" class="btn btn-help" data-toggle="modal" data-target=".gls-modal"><i class="fas fa-info-circle info"></i></button>
        </label>
        <label>
          <%= radio_button_tag :bulb_type, 'CFL' %>
          <%= image_tag("cfl.jpg", width: "140")%>
          <p><center>CFL</center></p>
          <button type="button" class="btn btn-help" data-toggle="modal" data-target=".cfl-modal"><i class="fas fa-info-circle info"></i></button>
        </label>
       </div>
    </div>
  </div>
  <div class="row justify-content-center my-3 ml-2">
    <div class="col-sm-12">
      <label>
        <%= radio_button_tag :bulb_type, 'LED' %>
        <%= image_tag("led.jpg", width: "140") %>
        <p><center>LED</center></p>
        <button type="button" class="btn btn-help" data-toggle="modal" data-target=".led-modal"><i class="fas fa-info-circle info"></i></button>
      </label>
      <label>
        <%= radio_button_tag :bulb_type, 'Halogen' %>
        <%= image_tag("halogen.jpg", width: "140") %>
        <p><center>Halogen</center></p>
        <button type="button" class="btn btn-help" data-toggle="modal" data-target=".halogen-modal"><i class="fas fa-info-circle info"></i></button>
      </label>
    </div>
  </div>
<div class="row justify-content-center my-3 ml-1">
  <div class="col-sm-12 col-lg-6">
    <div class="form create-form" >
      <h5><center>And what about the fitting?</center></h5>
      <label>
        <%= radio_button_tag :fitting, 'Screw' %>
        <%= image_tag("screw.jpg", width: "120") %>
        <p><center>Screw</center></p>
      </label>
      <label>
        <%= radio_button_tag :fitting, 'Bayonet' %>
        <%= image_tag("bayonet.jpg", width: "120")  %>
        <p><center>Bayonet</center></p>
      </label>
      <label>
        <%= radio_button_tag :fitting, 'Other' %>
        <%= image_tag("other.jpg", width: "120") %>
        <p><center>Other</center></p>
      </label>
      <div class="slidecontainer text-center ml-3 mr-3 mb-5 mt-3">
        <h5 class="mb-5">How bright would you like it?</h5>
        <div id="slider-step-value"></div>
        <div id="slider"></div>
        <div id="pips-range"></div>
      </div>

      <div id="slider-step-value">
      </div>

      <center><%= submit_tag value="Find my bulb!", id: "submitBtn", anchor: "results", class: "btn btn-lg btn-primary" %></center>
    </div>
    <% end %>
  </div>
</div>
<a href="#results" class="hidden" data-params="<%=@queried%>" id="query-link" ></a>
<br>

<div id='index-lightbulbs'>
  <%= render 'lightbulbs', lightbulbs: @lightbulbs %>
</div>
