<div class="container">
    <div class="card-trip">
        <img src= <%= @lightbulb.image %> />
        <div class="card-trip-infos">
            <div>
            <h2><%= @lightbulb.brand %></h2>
            <p><%= @lightbulb.bulb_type %></p>
            <p><%= @lightbulb.fitting %></p>
            <p><%= @lightbulb.brightness %></p>
            </div>
            <a class="btn btn-lg btn-secondary my-5">Buy now</a>
            <h2 class="card-trip-pricing">£9.99</h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/B%26Q_company_logo.svg/1200px-B%26Q_company_logo.svg.png" class="card-trip-user avatar-bordered" />
        </div>
    </div>
    <br>

    <div id="map"
       style="width: 100%; height: 50vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
