<div class="container show-container p-3">
  <div class="card-trip">
    <img src= <%= @lightbulb.image %> />
    <div class="card-trip-infos">
      <div>
        <h2><%= @lightbulb.brand %></h2>
        <div class="d-flex">
          <p class="mr-1"><%= @lightbulb.bulb_type %></p>
          <p class="mr-1"><%= @lightbulb.fitting %></p>
          <p><%= @lightbulb.brightness %> lumens</p>
        </div>
      </div>
      <div class="d-flex justify-content-end">
      <%= link_to '', lightbulb_favourites_path(@lightbulb), method: :post, class: "fas fa-heart icon" %>
      </div>
      <h3 class="font-weight-bold my-4"><%= @lightbulb.price %></h3>
      <%= if @lightbulb.brand == 'Screwfix'
        image_tag "screwfix.png", class:"card-trip-user avatar-bordered"
        else
        image_tag "b&q.png", class:"card-trip-user avatar-bordered"
        end %>
    </div>
    <%= link_to "Buy now from #{@lightbulb.brand}", @lightbulb.url, class: "btn btn-lg btn-block btn-secondary mb-4" %>

    <div class="my-1" id="map"
    style="width: 100%; height: 50vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div >
      <hr>
      <div class="d-flex justify-content-around"><p class="w-25"><%= @lightbulb.brand %></p><p class="card-trip-pricing w-25"><%= @lightbulb.price %></p><%= image_tag "screwfix.png", class: "card-trip-user avatar-bordered mr-3" %><%= link_to "Buy now", @lightbulb.url, class: "btn btn-secondary" %></div>
      <hr>
      <% if @similar_bulb.length > 0 %>
      <div class="d-flex justify-content-around"><p class="w-25"><%= @similar_bulb.first.brand %></p><p class="card-trip-pricing w-25"><%= @similar_bulb.first.price %></p>
        <%= if @similar_bulb.first.brand == 'Screwfix'
              image_tag "screwfix.png", class: "card-trip-user avatar-bordered mr-3"
            else
              image_tag "b&q.png", class: "card-trip-user avatar-bordered mr-3"
            end %>
        <%= link_to "Buy now", @similar_bulb.first.url, class: "btn btn-secondary" %>
        </div>
      <hr>
      <% end %>
      <div class="d-flex justify-content-around"><p class="w-25">Argos</p><p class="card-trip-pricing w-25">£9.99</p><%= image_tag "argos.png", class: "card-trip-user avatar-bordered mr-3" %><a class="btn btn-secondary">Buy now</a></div>
      <hr>
      <div class="d-flex justify-content-around"><p class="w-25">Wickes</p><p class="card-trip-pricing w-25"> £9.99</p><%= image_tag "wickes.jpeg", class: "card-trip-user avatar-bordered mr-3" %><a class="btn btn-secondary">Buy now</a></div>
      <hr>

    </div>

  </div>
</div>
